[Unit]
Description=RoomLogg Influx Logger
ConditionPathExists=/opt/roomlogg/logger
After=network.target

[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=10

WorkingDirectory=/opt/roomlogg
ExecStart=/opt/roomlogg/logger
EnvironmentFile=/opt/roomlogg/roomlogg.env

[Install]
WantedBy=multi-user.target