KERNEL=="hiddev0",    SUBSYSTEM=="usbmisc", ATTRS{idProduct}=="5750", ATTRS{idVendor}=="0483" , MODE="0666"
SUBSYSTEM=="usb", ATTRS{idProduct}=="5750", ATTRS{idVendor}=="0483", MODE="0666"